<?php
$this->headScript()->appendFile(
    $this->basePath() . '/public/js/personas/editlogin.js'
);
?>
<div class="page animsition">
    <div class="page-content">
        <div class="col-sm-12">
            <div class="panel panel-bordered panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos para ingresar al sistema</h3>
                </div>
                <div class="panel-body">
                    <?php $form->prepare();
                    $form->setAttribute(
                        'action', $this->url('persona', array('action' => 'editlogin', 'id'=>$this->id))
                    );
                    ?>
                    <?php echo $this->form()->openTag($form); ?>
                    <div class="col-md-2 has-success">
                        <label for="usuario" class="control-label">Usuario:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-user" aria-hidden="true"></i>
                            </span>
                            <?php
                            echo $this->formElement($form->get('usuario')) . "\n";
                            echo $this->formElementErrors(
                                $form->get("usuario"),
                                array('class'   => "help-block error  bg-red-100",
                                      'message' => "Usuario no admitido")
                            );
                            ?>
                        </div>
                        <small style="" class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID">El usuario no puede cambiarse</small>
                    </div>
                    <div class="col-md-2 has-success">
                        <label for="nombre" class="control-label">Contraseña:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-lock" aria-hidden="true"></i>
                            </span>

                            <?php
                            echo $this->formElement($form->get('pass')) . "\n";
                            echo $this->formElementErrors(
                                $form->get("pass"),
                                array('class'   => "help-block error  bg-red-100",
                                      'message' => "Ingrese un usuario correcto")
                            );
                            ?>
                        </div>
                        <small style="" class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID">Su primera contraseña es la misma que el usuario, luego podrá cambiarla al ingresar</small>
                    </div>
                    <div class="col-md-4 has-warning">
                        <label for="nombre" class="control-label">Pregunta clave:</label>
                        <div class="input-group">
                            </span>
                            <span class="input-group-addon">
                                <i class="icon wb-help" aria-hidden="true"></i>
                            </span>
                            <?php
                            echo $this->formElement($form->get('pregunta')) . "\n";
                            echo $this->formElementErrors(
                                $form->get("pregunta"),
                                array('class'   => "help-block error bg-red-100",
                                      'message' => "Ingrese una contraseña correcta")
                            );
                            ?>
                        </div>
                        <small style="" class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID">No obligatorio</small>
                    </div>

                    <div class="col-md-4 has-warning">
                        <label for="nombre" class="control-label">Respuesta:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-pencil" aria-hidden="true"></i>
                            </span>
                            <?php
                            echo $this->formElement($form->get('respuesta')) . "\n";
                            echo $this->formElementErrors(
                                $form->get("respuesta"),
                                array('class'   => "help-block error  bg-red-100",
                                      'message' => "Ingrese un dni correcto")
                            );
                            ?>
                        </div>
                        <small style="" class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID">No obligatorio</small>
                    </div>

                    <div class="form-group col-lg-12 text-right padding-top-m">
                        <button id="guardar" class="btn btn-primary" type="submit">Guardar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <?php
    echo $this->formHidden($form->get('estado'));
    ?>

</div>
