<?php
$this->headScript()->appendFile(
    $this->basePath() . '/public/js/personas/add.js'
);
?>
<div class="page animsition">
    <div class="page-content">
        <div class="col-sm-12">
            <div class="panel panel-bordered panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Editar datos</h3>
                </div>
                <div class="panel-body">
                    <?php $form->prepare();
                    $form->setAttribute(
                        'action', $this->url('persona', array('action' => 'edit', 'id'=>$this->id, 'param'=>$this->para))
                    );
                    ?>
                    <?php echo $this->form()->openTag($form); ?>
                    <div class="col-md-3 has-success">
                        <label for="nombre" class="control-label">Nombre:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-user-add" aria-hidden="true"></i>
                            </span>
                            <?php
                            echo $this->formElement($form->get('nombre')) . "\n";
                            echo $this->formElementErrors(
                                $form->get("nombre"),
                                array('class'   => "help-block error  bg-red-100",
                                      'message' => "Ingrese un nombre correcto")
                            );
                            ?>
                        </div>
                        <small style="" class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID">El nombre es requerido</small>
                    </div>
                    <div class="col-md-3 has-success">
                        <label for="nombre" class="control-label">Apellido Paterno:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-user-add" aria-hidden="true"></i>
                            </span>

                            <?php
                            echo $this->formElement($form->get('apellidopaterno')) . "\n";
                            echo $this->formElementErrors(
                                $form->get("apellidopaterno"),
                                array('class'   => "help-block error  bg-red-100",
                                      'message' => "Ingrese un apellido correcto")
                            );
                            ?>
                        </div>
                        <small style="" class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID">El apellido es requerido</small>
                    </div>
                    <div class="col-md-3 has-success">
                        <label for="nombre" class="control-label">Apellido Materno:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-user-add" aria-hidden="true"></i>
                            </span>
                            <?php
                            echo $this->formElement($form->get('apellidomaterno')) . "\n";
                            echo $this->formElementErrors(
                                $form->get("apellidomaterno"),
                                array('class'   => "help-block error bg-red-100",
                                      'message' => "Ingrese un apellido correcto")
                            );
                            ?>
                        </div>
                        <small style="" class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID">El apellido es requerido</small>
                    </div>

                    <div class="col-md-3 has-success">
                        <label for="nombre" class="control-label">DNI:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-payment" aria-hidden="true"></i>
                            </span>
                            <?php
                            echo $this->formElement($form->get('dni')) . "\n";
                            echo $this->formElementErrors(
                                $form->get("dni"),
                                array('class'   => "help-block error  bg-red-100",
                                      'message' => "Ingrese un dni correcto")
                            );
                            ?>
                        </div>
                        <small style="" class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID">El dni es de 8 dígitos, es requerido</small>
                        <?php
                        if(!$this->bandera)
                        {
                            echo "
                        <small STYLE='color: red' class=\"help-block \" data-fv-validator=\"notEmpty\" data-fv-for=\"password\" data-fv-result=\"INVALID\">Alguien ya se ha registrado con ésta DNI</small>
                    ";
                        }
                        ?>
                    </div>
                    <div class="col-md-3 has-warning">
                        <label for="nombre" class="control-label">Fecha Nacimiento:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-calendar" aria-hidden="true"></i>
                            </span>
                            <?php
                            echo $this->formElement($form->get('fechanacimiento')) . "\n";
                            echo $this->formElementErrors(
                                $form->get("fechanacimiento"),
                                array('class'   => "help-block error bg-red-100",
                                      'message' => "Ingrese un fecha correcta")
                            );
                            ?>
                        </div>
                        <small style="" class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID">No obligatorio</small>
                    </div>
                    <div class="col-md-3 has-warning">
                        <label for="direccion" class="control-label">Dirección:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-home" aria-hidden="true"></i>
                            </span>
                            <?php
                            echo $this->formElement($form->get('direccion')) . "\n";
                            echo $this->formElementErrors(
                                $form->get("direccion"),
                                array('class'   => "help-block error bg-red-100",
                                      'message' => "Ingrese una direccion correcta")
                            );
                            ?>
                        </div>
                        <small style="" class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID">No obligatorio</small>
                    </div>
                    <div class="col-md-3 has-warning">
                        <label for="telefono" class="control-label">Teléfono:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-home" aria-hidden="true"></i>
                            </span>
                            <?php
                            echo $this->formElement($form->get('telefono')) . "\n";
                            echo $this->formElementErrors(
                                $form->get("telefono"),
                                array('class'   => "help-block error bg-red-100",
                                      'message' => "Ingrese una teléfono correcto")
                            );
                            ?>
                        </div>
                        <small style="" class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID">No obligatorio</small>
                    </div>
                    <div class="col-md-3 has-warning">
                        <label for="correo" class="control-label">Correo:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-envelope" aria-hidden="true"></i>
                            </span>
                            <?php
                            echo $this->formElement($form->get('correo')) . "\n";
                            echo $this->formElementErrors(
                                $form->get("correo"),
                                array('class'   => "help-block error bg-red-100",
                                      'message' => "Ingrese un correo correcto")
                            );
                            ?>
                        </div>
                        <small style="" class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID">No obligatorio</small>
                    </div>
                    <div class="col-md-12 has-warning">
                        <label for="descripcion" class="control-label">Descripción:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="icon wb-info" aria-hidden="true"></i>
                            </span>
                            <?php
                            echo $this->formElement($form->get('descripcion')) . "\n";
                            echo $this->formElementErrors(
                                $form->get("descripcion"),
                                array('class'   => "help-block error bg-red-100",
                                      'message' => "Ingrese una descripcion correcto")
                            );
                            ?>
                        </div>
                        <small style="" class="help-block" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="INVALID">No obligatorio</small>
                    </div>

                    <div class="form-group col-lg-12 text-right padding-top-m">
                        <button id="guardar" class="btn btn-primary" type="submit">Guardar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <?php
    echo $this->formHidden($form->get('estado'));
    ?>

</div>
