<?php
$this->headScript()->appendFile(
    $this->basePath() . '/public/js/personas/personas.js'
);
?>
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">Administrador de Personas</h1>
    </div>
    <div class="page-content">
        <div class="col-sm-6">
            <div class="panel panel-bordered panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Empleados</h3>
                </div>
                <div class="panel-body">

                    <ul class="list-group list-group-gap">

                        <li class="listaempleados list-group-item bg-blue-grey-100" style="cursor:pointer" id="verempleados">
                            <i class="icon wb-user" aria-hidden="true"></i> Ver Empleados
                        </li>
                        <li class="listaempleados list-group-item bg-blue-grey-100" id="addempleado" style="cursor:pointer">
                            <i class="icon wb-plus" aria-hidden="true"></i> Agregar Empleado
                        </li>

                        <li class="listaempleados list-group-item bg-blue-grey-100" id="mensaje">
                            <i class="icon wb-envelope" aria-hidden="true"></i> Mensajes (Aún No disponible)
                        </li>
                        <li class="listaempleados list-group-item bg-blue-grey-100"  id="record"  >
                            <i class="icon wb-graph-up"aria-hidden="true"></i> Record Empleados (Aún No disponible)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-bordered panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Clientes</h3>
                </div>
                <div class="panel-body">

                    <ul class="list-group list-group-gap">

                        <li class="listaempleados list-group-item bg-blue-grey-100" style="cursor:pointer" id="verclientes">
                            <i class="icon wb-user" aria-hidden="true"></i> Ver Clientes
                        </li>
                        <li class="listaempleados list-group-item bg-blue-grey-100" id="addcliente" style="cursor:pointer">
                            <i class="icon wb-plus" aria-hidden="true"></i> Agregar Cliente
                        </li>

                        <li class="listaempleados list-group-item bg-blue-grey-100" id="mensajecliente">
                            <i class="icon wb-envelope" aria-hidden="true"></i> Mensajes (Aún No disponible)
                        </li>
                        <li class="listaempleados list-group-item bg-blue-grey-100"  id="recordcliente"  >
                            <i class="icon wb-graph-up"aria-hidden="true"></i> Ver estadísticas (Aún No disponible)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
