<?php
$this->headScript()->appendFile(
    $this->basePath() . '/public/js/personas/listaclientes.js'
);
?>
<div class="page animsition">
    <div class="page-content">
        <div class="col-sm-12">
            <div class="panel panel-bordered panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Todos los clientes del sistema</h3>
                </div>
                <div class="panel-body">
                    <div class="panel">
                        <div class="panel-body">

                            <a class="col-md-12 text-right" target=\"_blank\" href='add/2'>Agregar emprestatario</a>
                            <table id="editableTable" class="editable-table table table-striped" style="cursor: pointer;">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Dni</th>
                                    <th>Estado</th>
                                    <th>Próximo pago</th>
                                    <th>Editar</th>
                                    <th>Historial pagos</th>
                                </tr>
                                </thead>
                                <tbody>

                                <?php
                                $mora=0;
                                $sinmora=0;
                                foreach($this->personas as $persona)
                                {
                                    if($persona['estadocliente']==3)
                                    echo "
                                        <tr style='color: indianred;' class='conmora'>";
                                    else{
                                        echo "
                                        <tr class='sinmora'>";
                                    }
                                           echo "
                                            <td>".$persona['nombre']."</td>
                                            <td>".$persona['apellidopaterno'].' '.$persona['apellidomaterno']."</td>
                                            <td>".$persona['dni']."</td>
                                            <td>"; if($persona['estadocliente']==1) echo "SIN MORA"; if($persona['estadocliente']==2) echo "CREDITO FINALIZADO"; if($persona['estadocliente']==3) echo "CON MORA"; if($persona['estadocliente']==4) echo "SIN PRESTAMO ACTUAL/NUEVO";echo "</td>
                                            ";
                                    if($persona['estadocliente']==3)
                                    {
                                        $mora++;
                                        echo "
                                        <td><a style='color: indianred'>Mostrar</a></td>
                                        <td><a  target=\"_blank\"  style='color: indianred' href='edit/".$persona['idpersona'].'/2'."' id='".$persona['idpersona']."' type=\"button\"><i class=\"icon wb-eye\" aria-hidden=\"true\"></i>Ver/Editar</a></td>
                                            <td><a  target=\"_blank\" class='btn btn-outline btn-primary' href='".$this->basePAth()."/creditos/historial/".$persona['idpersona']."' type=\"button\"><i class=\"icon wb-eye\" aria-hidden=\"true\"></i>Ver Historia</a></td>
                                        </tr>
                                        ";
                                    }
                                    else{
                                        $sinmora++;
                                        echo "
                                        <td><a>Mostrar</a></td>
                                        <td><a  target=\"_blank\"  href='edit/".$persona['idpersona'].'/2'."' id='".$persona['idpersona']."' type=\"button\"><i class=\"icon wb-eye\" aria-hidden=\"true\"></i>Ver/Editar</a></td>
                                            <td><a  target=\"_blank\" class='btn btn-outline btn-primary' href='".$this->basePAth()."/creditos/historial/".$persona['idpersona']."' type=\"button\"><i class=\"icon wb-eye\" aria-hidden=\"true\"></i>Ver Historia</a></td>
                                        </tr>
                                        ";
                                    }

                                }
                                echo "<div class='btn-group'>
                            <button type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' id='filtro'>Todos
                                <span class='caret'></span>
                            </button>
                            <ul class='dropdown-menu'>
                                <li>
                                    <a href='#' id='conmora' style='color: indianred;'>Con Mora ".$mora."</a>
                                </li>
                                <li>
                                    <a href='#' id='sinmora'>Sin Mora ".$sinmora."</a>
                                </li>
                                <li>
                                    <a href='#' id='buscar'>Buscar</a>
                                </li>
                                <li role='separator' class='divider'></li>
                                <li>
                                    <a href='#' id='todos'>Todos ".($mora+$sinmora)."</a>
                                </li>
                            </ul>
                        </div>";
                                ?>
                                </tbody>

                            </table>
                        </div>

                </div>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>
