<?php
$this->headScript()->appendFile(
    $this->basePath() . '/public/js/personas/editlogin.js'
);
?>
<div class="page animsition">
    <div class="page-content">
        <div class="col-sm-12">
            <div class="panel panel-bordered panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Todos los usuarios del sistema</h3>
                </div>
                <div class="panel-body">
                    <div class="panel">
                        <div class="panel-body">
                            <table id="editableTable" class="editable-table table table-striped" style="cursor: pointer;">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Dni</th>
                                    <th>Usuario</th>
                                    <th>Ver</th>
                                </tr>
                                </thead>
                                <tbody>

                                <?php
                                foreach($this->personas as $persona)
                                {
                                    if($persona['idpersona']!=1)
                                    echo "
                                        <tr>
                                            <td>".$persona['nombre']."</td>
                                            <td>".$persona['apellidopaterno'].' '.$persona['apellidomaterno']."</td>
                                            <td>".$persona['dni']."</td>
                                            <td>".$persona['usuario']."</td>
                                            <td><a  target=\"_blank\" class='btn btn-outline btn-primary' href='edit/".$persona['idpersona'].'/1'."' id='".$persona['idpersona']."' type=\"button\"><i class=\"icon wb-eye\" aria-hidden=\"true\"></i>Ver/Editar</a></td>
                                        </tr>
                                        ";
                                }
                                ?>
                                </tbody>

                            </table>
                            <input style="position: absolute; top: 108px; left: 30px; text-align: start; width: 345px; height: 40px; display: none; padding: 8px; font-size: 14px; font-family: Roboto,sans-serif; font-weight: 300;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
