<?php
$this->headScript()->appendFile(
    $this->basePath() . '/public/js/personas/add.js'
);
?>
<div class="page animsition">
    <div class="page-content">

        <div class="panel">

        </div>
    </div>
</div>
<input type="hidden" id="usernombre" value="<?php echo $this->usuario?>">