<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Nosotros</title>
</head>
<body>
<div class="row col s12 m4">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="http://www.teknosgroup.com/wp-content/uploads/mision.jpg">
                <span class="card-title">Misión</span>
            </div>
            <div class="card-content">
                <p>La Unidad de Gestión Educativa Local - Cajamarca tiene como misión, asegurar ofertas educativas pertinentes de calidad, sustentadas en el trabajo concertado con la sociedad civil y centradas en la formación integral de todos los cajamarquinos, guiados con una perspectiva de interculturalidad, equidad, cohesión social y desarrollo humano sostenible, que permita formar personas capaces de desarrollar su identidad, autoestima y capacidades para integrarse adecuada y críticamente a la sociedad, en armonía con su entorno.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="http://www.teknosgroup.com/wp-content/uploads/mision.jpg">
                <span class="card-title">Visión</span>
            </div>
            <div class="card-content">
                <p>La Unidad de Gestión Educativa Local - Cajamarca será la Instancia descentralizada líder del Gobierno Regional que lidera una sociedad educadora con la participación y vigilancia de la sociedad civil, para garantizar una educación integral, pertinente y de calidad que constituya el desarrollo pleno de las personas a lo largo de su vida. Ejecutan políticas que aseguren a los niños y jóvenes de toda la provincia con iguales oportunidades de acceso, permanencia y trato sin ninguna forma de discriminación, en un sistema educativo flexible, adecuado a las necesidades y exigencias de la diversidad y el logro de competencias básicas para que todas las personas se desenvuelvan social y laboralmente, tiendan a la creatividad e innovación, orienten su comportamiento por los valores democráticos, promueven el desarrollo humano integral y sostenible, la justicia social y la cultura de paz; así como para que ejerzan el derecho a aprender en forma continua y con autonomía.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="http://www.teknosgroup.com/wp-content/uploads/mision.jpg">
                <span class="card-title">Valores</span>
            </div>
            <div class="card-content">
                <p>Los valores que practicamos en la UGEL Cajamarca son: la Honestidad, Lealtad, Respeto, Solidaridad, Justicia, Pertenencia, Tolerancia, Responsabiliad Institucional, Responsabilidad Social y Responsabilidad Ambiental.</p>
            </div>
        </div>
    </div>
</div>

<div id="gestion">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">description</i>Reglamento de Organización y Funciones - ROF</div>
            <div class="collapsible-body"><a href="http://www.ugelcajamarca.gob.pe/sites/default/files/documentos/institucionales/ROF%202016%20UGEL%20-CAJ%20%282%29.pdf"><p> ROF 2016 UGEL -CAJ (2).pdf    Tamaño: 460.9 KB</p></a></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">description</i>Manual de Organización y Funciones - MOF</div>
            <div class="collapsible-body"><p>MOF</p></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">description</i>Cuadro de Asignación de Personal - CAP</div>
            <div class="collapsible-body"><p>CAP</p></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">description</i>Presupuesto Analítico de Personal- PAP</div>
            <div class="collapsible-body"><p>PAP</p></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">description</i>Texto Unico de Procedimientos Administrativos - TUPA</div>
            <div class="collapsible-body"><p>TUPA</p></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">description</i>Manual de Procedimientos - MAPRO</div>
            <div class="collapsible-body"><p>MAPRO</p></div>
        </li>
    </ul>
</div>

</body>
</html>