
<script src="<?php echo $this->basePath() . '/public/js/habitacion/add.js';?>"></script>

<div class="row center-align">
    <div class="col s12 m6 offset-m3">
        <div class="row">
            <div class="col s12">
                <h1 class="page-header">Nueva habitación</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="divider"></div>

        <section class="card-panel">
            <?php $form->prepare();
            $form->setAttribute(
                'action', $this->url('habitacion',
                array('action' => 'add')
            )
            );
            ?>
            <?php echo $this->form()->openTag($form); ?>
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <?php
                        if($this->formElementErrors($form->get("direccion")))
                        {
                            $form->get('direccion')->setAttributes(
                                array(
                                    'class'=> 'materialize-textarea invalid obligatorio obligatorio',
                                )
                            );
                            echo $this->formElement($form->get('direccion'));

                        }
                        else
                            echo $this->formElement($form->get('direccion')) . "\n";
                        ?>
                        <label class="error" for="direccion" data-error="max100 caráct" style="margin-top: 10px" data-success="right">Dirección calle/ave/nº</label>

                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <?php
                        if($this->formElementErrors($form->get("npiso")))
                        {
                            $form->get('npiso')->setAttributes(
                                array(
                                    'class'=> 'invalid obligatorio obligatorio',
                                )
                            );
                            echo $this->formElement($form->get('npiso'));

                        }
                        else
                            echo $this->formElement($form->get('npiso')) . "\n";
                        ?>
                        <label class="error" for="npiso" data-error="Solo números" data-success="right">Número de piso</label>

                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <?php
                        if($this->formElementErrors($form->get("metros")))
                        {
                            $form->get('metros')->setAttributes(
                                array(
                                    'class'=> 'invalid obligatorio',
                                )
                            );
                            echo $this->formElement($form->get('metros'));

                        }
                        else
                            echo $this->formElement($form->get('metros')) . "\n";
                        ?>
                        <label class="error" for="metros" data-error="Solo números" data-success="right">Metros cuadrados apx.</label>
                    </div>

                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <?php
                        if($this->formElementErrors($form->get("descripcion")))
                        {
                            $form->get('descripcion')->setAttributes(
                                array(
                                    'class'=> 'materialize-textarea invalid obligatorio',
                                )
                            );
                            echo $this->formElement($form->get('descripcion'));

                        }
                        else
                            echo $this->formElement($form->get('descripcion')) . "\n";
                        ?>
                        <label class="error" for="descripcion" data-error="max200 caráct" style="margin-top: 10px" data-success="right">Descripción breve</label>

                    </div>

                </div>
                <div class="waves-effect waves-light btn pink" id="guardarhabitacion">Agregar multimedia</div>
            </div>
        </section>
        <?php
        echo $this->formHidden($form->get('idpersona'));
        echo $this->form()->closeTag();
        ?>

    </div>
</div>