<?php echo $this->doctype(); ?>
<!DOCTYPE html>
<html lang="es">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<head>

	<meta charset="utf-8">


	<?php echo $this->headMeta()
		->appendName('viewport', 'width=device-width, initial-scale=1.0')
		->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	?>

	<!-- Le styles -->
	<?php echo $this->headLink(
		array('rel'  => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon',
			'href' => $this->basePath() . '/public/img/favicon.png')
	)


		->prependStylesheet(
			$this->basePath() . '/public/css/style.css'
		)->prependStylesheet(
			$this->basePath() . '/public/asset/materialize/css/materialize.min.css'
		)?>

	<!-- Scripts -->
	<?php echo $this->headScript()
		->prependFile(
			$this->basePath()
			. '/public/js/init.js'
		)->prependFile(
			$this->basePath()
			. '/public/js/basic.js'
		)
		->prependFile(
			$this->basePath()
			. '/public/asset/materialize/js/materialize.min.js'
		)->prependFile(
			$this->basePath() . '/public/asset/jquery/dist/jquery.min.js'
		);
	?>

	<meta name="description" content="Ugel Cajamarca">
	<meta name="author" content="Henry Bravo">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

</head>

<body class="nav-md">

<section id="container" class="">
	<nav class="nav-extended blue-grey lighten-5" style="position: fixed; z-index: 1000;">
		<div class="nav-wrapper">
			<a href="<?php echo $this->basePath() ?>" class="brand-logo" style="margin-left: 10px"><img width="50px" src="<?php echo $this->basePath()."/public/img/favicon.png"?>"/></a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a class="navi red-text text-lighten-2" state="1"  num="1" href="#">Inicio</a></li>
				<li><a class="navi red-text text-lighten-2" state="0"  num="2" href="#">Nosotros</a></li>
				<li><a class="navi red-text text-lighten-2" state="0"  num="3" href="#">Oficinas</a></li>
				<li><a class="navi red-text text-lighten-2" state="0"  num="4" href="#">Comunicación</a></li>
				<li><a class="navi red-text text-lighten-2" state="0"  num="5" href="#">Trasparencia</a></li>
				<li><a class="navi red-text text-lighten-2" state="0"  num="6" href="#">Convocatorias</a></li>
				<li><a class="navi red-text text-lighten-2" state="0"  num="7" href="#">Libro Reclamación</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a class="navi red-text text-lighten-2" state="1"  num="1" href="#">Inicio</a></li>
				<li><a class="navi red-text text-lighten-2" state="0"  num="2" href="#">Nosotros</a></li>
				<li><a class="navi red-text text-lighten-2" state="0"  num="3" href="#">Oficinas</a></li>
				<li><a class="navi red-text text-lighten-2" state="0"  num="4" href="#">Comunicación</a></li>
				<li><a class="navi red-text text-lighten-2" state="0"  num="5" href="#">Trasparencia</a></li>
				<li><a class="navi red-text text-lighten-2" state="0"  num="6" href="#">Convocatorias</a></li>
				<li><a class="navi red-text text-lighten-2" state="0"  num="7" href="#">Libro Reclamación</a></li>
			</ul>

			<ul class="tabs tabs-transparent" id="nosotros" style="display:none;">
				<li class="tab"><a class="red-text text-lighten-2" href="#">Misión, Visión, Valores</a></li>
				<li class="tab"><a class="red-text text-lighten-2" href="#">Documentos de gestión</a></li>
				<li class="tab"><a class="red-text text-lighten-2" href="#">Organigrama</a></li>
				<div class="indicator" style="right: 198.438px; left: 396.562px;"></div>
				<!--<li class="tab" id="busqueda-li">
					<form>
						<div class="input-field">
							<input id="search" type="search" required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</li>-->

			</ul>
			<ul class="tabs tabs-transparent" id="oficinas" style="display:none;">
				<li class="tab" ><a href="#" class="red-text text-lighten-2"></a>Gestión Pedagógica</li>
				<li class="tab"><a href="#" class="red-text text-lighten-2"></a>Trámite Documentario</li>
				<li class="tab"><a href="#" class="red-text text-lighten-2"></a>Actas y Certificados</li>
				<li class="tab"><a href="#" class="red-text text-lighten-2"></a>Gestión Institucional</li>
				<li class="tab"><a href="#" class="red-text text-lighten-2"></a>Gestión Administrativa</li>
				<li class="tab"><a href="#" class="red-text text-lighten-2"></a>Imagen Institucional</li>
				<!--<li class="tab" id="busqueda-li">
					<form>
						<div class="input-field">
							<input id="search" type="search" required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</li>-->

			</ul>
			<ul class="tabs tabs-transparent" id="comucinacion" style="display:none;">
				<li class="tab" ><a class="red-text text-lighten-2" href="#">Noticias</a></li>
				<li class="tab"><a class="red-text text-lighten-2" href="#">Comunicados</a></li>
				<li class="tab"><a class="red-text text-lighten-2"href="#">Galerías Imágenes</a></li>
				<li class="tab"><a class="red-text text-lighten-2" href="#">Galerías Videos</a></li>
				<!--<li class="tab" id="busqueda-li">
					<form>
						<div class="input-field">
							<input id="search" type="search" required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</li>-->

			</ul>

		</div>
	</nav>

	<section id="main-content" >
		<section class="wrapper">
			<div style="padding-top: 60px" >
				<?php echo $this->content; ?>

			</div>

			<footer class="page-footer red lighten-2">
				<div class="container">
					<div class="row">
						<div class="col l6 s12">
							<h5 class="white-text">Ugel Cajamarca</h5>
							<p class="grey-text text-lighten-4">
								Ser una organización.......
							</p>


						</div>
						<div class="col l3 s12">
							<h5 class="white-text">Páginas relacionadas</h5>
							<ul>
								<li><a class="white-text" href="#!">Link 1</a></li>
								<li><a class="white-text" href="#!">Link 2</a></li>
								<li><a class="white-text" href="#!">Link 3</a></li>
								<li><a class="white-text" href="#!">Link 4</a></li>
							</ul>
						</div>
						<div class="col l3 s12">
							<h5 class="white-text">Conecta con nosotros</h5>
							<ul>
								<li><a class="white-text" href="#!">Link 1</a></li>
								<li><a class="white-text" href="#!">Link 2</a></li>
								<li><a class="white-text" href="#!">Link 3</a></li>
								<li><a class="white-text" href="#!">Link 4</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						Todos los derechos reservados © <a target="_blank" class="orange-text text-lighten-3" href="http://tecnologia.bravos.pe">Más aquí<img src=" <?echo $this->basePath()."/public/img/favicon.png"?>" height="20px" width="25px"></a>
					</div>
				</div>
			</footer>


		</section>
	</section>
	<!--main content end-->
</section>



<input type="hidden" id="baseUrl" value="<?= $this->basePath() ?>">

</body>

</html>
