<div class="parallax-container">
    <div class="parallax"><img src="http://www.ugelcajamarca.gob.pe/sites/default/files/styles/media_gallery_large/public/IMG_2185.JPG?itok=t4RZ3_-s"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Ugel Cajamarca</h2>
        <p class="grey-text text-darken-3 lighten-3">
            La Unidad de Gestión Educativa Local - Cajamarca tiene como misión, asegurar ofertas educativas pertinentes de calidad, sustentadas en el trabajo concertado con la sociedad civil y centradas en la formación integral de todos los cajamarquinos, guiados con una perspectiva de interculturalidad, equidad, cohesión social y desarrollo humano sostenible, que permita formar personas capaces de desarrollar su identidad, autoestima y capacidades para integrarse adecuada y críticamente a la sociedad, en armonía con su entorno.
        </p>
    </div>
</div>

<div class="section white">
    <div class="row container">
        <h2 class="header">Visión</h2>
        <p class="grey-text text-darken-3 lighten-3">
            La Unidad de Gestión Educativa Local - Cajamarca será la Instancia descentralizada líder del Gobierno Regional que lidera una sociedad educadora con la participación y vigilancia de la sociedad civil, para garantizar una educación integral, pertinente y de calidad que constituya el desarrollo pleno de las personas a lo largo de su vida. Ejecutan políticas que aseguren a los niños y jóvenes de toda la provincia con iguales oportunidades de acceso, permanencia y trato sin ninguna forma de discriminación, en un sistema educativo flexible, adecuado a las necesidades y exigencias de la diversidad y el logro de competencias básicas para que todas las personas se desenvuelvan social y laboralmente, tiendan a la creatividad e innovación, orienten su comportamiento por los valores democráticos, promueven el desarrollo humano integral y sostenible, la justicia social y la cultura de paz; así como para que ejerzan el derecho a aprender en forma continua y con autonomía.        </p>
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Valores</h2>
        <p class="grey-text text-darken-3 lighten-3">
            Los valores que practicamos en la UGEL Cajamarca son: la Honestidad, Lealtad, Respeto, Solidaridad, Justicia, Pertenencia, Tolerancia, Responsabiliad Institucional, Responsabilidad Social y Responsabilidad Ambiental.    </div>
</div>